{
  "presets": [
    [
      "@lunde/es",
      {
        "env": {
          "targets": {
            "node": "8"
          }
        }
      }
    ]
  ],
  "env": {
    "cjs": {
      "presets": [
        [
          "@lunde/es",
          {
            "env": {
              "modules": false,
              "targets": {
                "browsers": "> 1%"
              }
            },
            "objectAssign": false
          }
        ]
      ]
    },
    "es": {
      "presets": [
        [
          "@lunde/es",
          {
            "env": {
              "modules": false,
              "targets": {
                "browsers": "> 1%"
              }
            },
            "objectAssign": false
          }
        ]
      ]
    },
    "umd": {
      "presets": [
        [
          "@lunde/es",
          {
            "env": {
              "targets": "> 0.5%, ie >= 10, safari >= 9, firefox >= 43, ios >= 8"
            }
          }
        ]
      ]
    }
  }
}
