{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "no-console": "off",
    "no-prototype-builtins": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "globals": {
    "__DEV__": true
  }
}